*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    background-image: url(./img/background.jpeg);
    margin: 0;
    height: 100vh;
    text-align: center;
}
.header{
    background-image: url(./img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #7A0B0B;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
}
.heading-subtext{
    color: #F97E7E;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .7em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.sub-heading2{
    font-family: 'Caveat', cursive;
    color: #F27716;
    font-size: 1.5em;
    margin-top: 2em;
}
.rahoriya-family{
    font-family: 'Caveat', cursive;
    color: #F27716;
    font-size: 1.8em;
    margin-top: 0.2em;
}
.sub-heading22{
    font-family: 'Caveat', cursive;
    color: #F27716;
    font-size: 1.5em;
    margin-top: 0.2em;
}
.naveen{
    font-family: 'Caveat', cursive;
    font-size: 3.3em;
    margin-top: 0.3em;
    color: #FECC01;
}
.shiya{
    font-family: 'Caveat', cursive;
    font-size: 3.3em;
    margin-top: 0.3em;
    color: #FECC01;
}
.parents{
    font-family: bold;
    color: #F27716;
    font-size: 0.5em;
    margin-top: 0.5em;
}
.with{
    font-family: 'Caveat', cursive;
    font-size: 1em;
    margin-top: 1.4em;
    color: #F27716;
}
.bottum{
    font-family: 'Caveat', cursive;
    font-size: 0.8em;
    margin-top: 1.5em;
    color: #F27716;
}
.the-details{
    font-family: 'Caveat', cursive;
    text-decoration: underline;  
    text-decoration-color: yellow;
    font-size: 2em;
    margin-top: 1.5em;
    color: #F27716;
}
.tilak{
    font-family: 'Caveat', cursive;
    color: #F27716;
    font-size: 3em;
    margin-top: 1em;
}
.location-click{
    color: #F27716;
    font-size: 0.7em;
    margin-top: 0.2em;
}
.garden1{
    font-family: 'Caveat', cursive;
    color: #F27716;
    font-size: 2.2em;
    margin-top: 0.2em;
}
.garden2{
    color: #FECC01;
    font-size: 1em;
    margin-top: 0.1em;
}
.tilak-detials{
    color: #F27716;
    font-size: 1em;
    margin-top: 1em;
}
.tilak-detials1{
    color: #F27716;
    font-size: 1em;
    margin-top: 1em;
}
.tilak-detials2{
    color: #F27716;
    font-size: 1.2em;
    margin-top: 0.7em;
}
.address-heading{
    font-weight: bold;
    text-transform: lowercase;
    font-size: 1em;
}
.address-heading2{
    font-weight: bold;
    text-transform: lowercase;
    font-size: 1.1em;
    color: red;
}
.details{
    margin: 0 auto 1em;
    color: #F27716;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
    color: #F27716;
}
.details-heading1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
}

.fas {
    font-size: 2em;
    opacity: .4;
    color: #F27716;
    margin-top: 0.7em;
}
.nvk0x{
    font-family: Times, "Times New Roman", Georgia, serif;
    color: #CBB0B0;
    font-size: 0.8em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }